* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-gap: 10px;
  height: 100vh;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, auto)
    );
}
/*auto fill also works in grid-template-columns*/
.box {
  background-color: palegoldenrod;
}
